/ScreenAdapter-master/.gradle
/ScreenAdapter-master/.idea
/ScreenAdapter-master/local.properties
/ScreenAdapter-master/*.iml
/ScreenAdapter-master/sample/build
/ScreenAdapter-master/sample/*.iml
/ScreenAdapter-master/screenadapter/build
/ScreenAdapter-master/screenadapter/*.iml
/ScreenAdapter-master/screenadapter_n/build
/ScreenAdapter-master/screenadapter_n/*.iml
